#info-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 2%;
  margin-top: 20rem;
  font-size: 12px;
}

.title {
  color: #0018f9;
  margin-top: 2rem;
}

.descriptions {
  margin-top: 1rem;
}

.role {
  margin-bottom: 0.5rem;
}

@media (max-width: 480px) {
  #info-container {
    width: 60%;
    margin-top: 10rem; 
    font-size: 0.5em;
  }
}
